{% extends "base/base.html" %}

{% block content %}
    <div class="col-md-12 col-sm-12 col-xs-12" xmlns="http://www.w3.org/1999/html">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> 编辑任务信息
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form>
                    <div class="form-group">
                        <label for="message">任务描述</label>
                    <textarea required="required" class="form-control" name="desc"
                              placeholder="{{ object.desc }}">{{ object.desc }}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="message">默认执行帐号</label>
                        <input type="text" class="form-control" name="user" placeholder="root" value="{{ conf.default_user }}">
                    </div>
                    <div class="form-group">
                        <label for="message">限制帐号执行(服务器执行用户)</label>
                        </br>
                        允许这些帐号执行
                        <input type="radio" class="flat" name="user_action" id="genderM" value="allow" {% ifequal conf.user_action  allow %}checked="" {% endifequal %} required /> 拒绝这些帐号执行:
                        <input type="radio" class="flat" name="user_action" id="genderF" value="deny"  {% ifequal conf.user_action  deny %}checked="" {% endifequal %}/>
                        <input id="user_list" name="user_list" type="text" class="form-control" value=""  placeholder="帐号列表"/>
                    </div>
                    <div class="form-group">
                        <label for="message">执行超时时间(s)</label>
                        <input type="text" class="form-control" name="timeout" placeholder="超时时间" value="{{ conf.timeout }}">
                    </div>
                    <input type="submit" class="btn btn-primary" value="提交修改"/>
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#user_list').tagsInput({
                width: 'auto',
                defaultText: '帐号列表'
            });
        });

    </script>
{% endblock %}